<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testmombetteryapp">

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <!-- 베터리 최적화 무시 항목 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/spring"
        android:label="빳때리입니다"
        android:roundIcon="@drawable/spring"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <receiver android:name=".BatteryAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/battery_app_widget_info" />
        </receiver>

        <receiver android:name="com.example.testmombetteryapp.AlarmReceiver" android:enabled="true" >

        </receiver>

        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>